{{#if open}}
  <details open>
    <summary>{{name}}</summary>
    <p>{{description}}</p>
  </details>
{{else}}
  <details>
    <summary>{{name}}</summary>
    <p>{{description}}</p>
  </details>
{{/if}}