<div class='row'>
  <div class='col-4 pt-3'>
    <p>{{number}}</p>
    <p><b>{{status}}</b></p>
  </div>
  <div class='col-2 pt-3'>
    {{#with amount}}
      <p>{{title}}</p>
      <p><b>{{value}}</b></p>
    {{/with}}
  </div>
  <div class='col-4'>
    {{#each images}}
      <img class='rounded' src={{this}} />
    {{/each}}
  </div>
  <div class='col-2 pt-4'>
    {{#with button}}
      <a class='btn btn-primary' href={{link}}>{{text}}</a>
    {{/with}}
  </div>
</div>
<hr class='my-1' />